.jumbotron.animated.fadeIn
  %h1 Quadrant
  %a.btn.btn-warning.btn-lg{:href=>"/auth/Jawbone"} Login with Jawbone
  %a.btn.btn-primary.btn-lg{:href=>"/auth/foursquare"} Login with Foursquare
.profile.clearfix
  %img{:src=>"#{@user["photo"]}", :class=>"thumbnail pull-left"}
  .prof.pull-left
    %h2 Welcome, #{@user["first_name"]} #{@user["last_name"]}!
    %ul
      %li #{@user["checkins"]} checkins
      %li X locations
      %li avg sleep
      %li health score
.map
  %h2 
    MAP
    %a{:href=>"#map-info", :data=>{:toggle=>"modal"}}
      %span{:class=>"glyphicon glyphicon-question-sign"}
  %ul.nav.nav-tabs.center#maptabs
    %li
      %a{:href=>"#duration"} Sleep Duration
    %li.active
      %a{:href=>"#quality"} Sleep Quality
    %li
      %a{:href=>"#mood"} Mood
  .tab-content
    .tab-pane#duration
      = erb :_duration_map, @locations
    .tab-pane#quality.active
      = erb :_quality_map, @locations
    .tab-pane#mood
      = erb :_mood_map, @locations
.leaderboard
  %h2 LOCATION LEADERBOARD
  = haml :_leaderboard, @locations
= erb :_map_info